h1 { margin: 1em; padding-top: 1em;}
h3 { margin-left: 1.6em; }
.mat-app-background {
  background-image: url('/assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
}
