.flex-spacer {
  flex: 1 1 auto;
}

.loading{
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(144, 169, 238, 0.5);
  z-index: 1000;
}

.loading.on {
	opacity: 0.5;
	visibility: visible;
	transition: visibility 2.5s;
}

.center {
  padding-top: 100px;
  display: table;
  margin: 0 auto;
}

.content {
  padding: 10px;
}
